@mixin link-on-hover{
  font-size: 2rem;
  color: $font-color-inverted;
  background-color: $sub-color;
  padding: 10px;
  border-radius: 0px;
  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;
    color: $font-color;
    background-color: $light-color;
    border-radius: 10px;
  }
}

@mixin container {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: $super-light-color;
  padding-top: 100px;
  padding-bottom: 75px;
}